body {
    
    background-color: #d9e2e7;
    display:flex;
    height: 70vh;
    margin-bottom:980px;

}

.Datos{
    width: 360px;
    height: 1170px;
    position: absolute;
    background-color: rgb(255, 242, 216) ;
    margin: 5px;
    top: 11%;
    left: 23%;
    float: left;
    z-index: 3;
}

.info1{
    position: relative;
    height: 20px;
    width: 400px;
    left: 45px;
    top: 240px;
    margin-top: 20px;
}

.info{
    position: relative;
    text-align: center;
    height: 20px;
    width: 350px;
    left: 5px;
    top: 240px;
    margin-top: 20px;
}

.perfil{
    top: 20px;
    left: 48px;
    position: absolute;
    width: 250px;       
    height: 250px;        
    border-radius: 50%;    
    object-fit: cover;    
    object-position: center; 
    z-index: 4;
    border: 4px solid #6b6b6b;

}


.Me {
    background-color: #6b6b6b;
    position: relative;
    top: 10%;
    left: 21.5%;
    width: 1000px;
    height: 150px;
    padding: 100px 1px 10px 100px;
    z-index: 2;  
    font-family:'Times New Roman';
    color: White;
    text-align: center;   
    align-content: center;   
}

#name{
    position: absolute; 
    align-content: center;     
    top: 5px;                
    left: 388px;               
    font-size: 60px;
}

#carrera{
   position: absolute; 
    top: 170px;                
    left: 635px;               
    font-size: 25px;
}

.Contenido{
    background-color: #ffffff;
    position: absolute;
    top: 10%;
    left: 21.7%;
    width: 1078px;
    height: 1430px;
    align-content: right;
    padding: 10px 10px 10px 10px;
    z-index: 1;
    margin-bottom: 100px;
    padding-bottom: 50px;
    border-bottom: 100px;
    border: 2px solid #c1c1c1;
}

h3{
    color:  #6b6b6b;
    background-color: rgb(255, 242, 216);
    text-align: center;
    position: relative; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 170px;                
    left: 460px; 
    width: 550px; 
    padding: 1px;
    font-size: 25px;
    margin-top: 90px;
}

h4{
    color:  #6b6b6b;
    background-color: rgb(255, 242, 216);
    text-align: center;
    position: absolute; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 1130px;                
    left: 69px; 
    width: 955px; 
    padding: 1px;
    font-size: 25px;
    margin-top: 100px;
}


h5{
    position: relative; 
    align-content: center; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;             
    top: 140px;                
    left: 452px; 
    width: 550px; 
    padding: 10px;
    font-size: 25px;
}

h6{
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    height: 10px;            
    top: 250px;                
    left: 30px; 
    width: 300px; 
    padding: 1px;
    font-size: 25px;
}

h7{
    position: relative; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-content: center;              
    top: 90px;                
    left: 452px; 
    width: 550px; 
    padding: 10px;
    font-size: 17px;
}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#p1{
    position:absolute; 
    width: 550px;
    padding: 75px 0px 0px 0px;
    align-content:center;              
    left: 473px;            
    font-size: 15px;
    text-align: justify;
}

#p2{
    position:absolute; 
    width: 550px;
    padding: 77px 0px 0px 0px;
    align-content:center;              
    left: 473px;            
    font-size: 15px;
    text-align: justify;
}
#p3{
    position:absolute; 
    width: 550px;
    padding: 76px 0px 0px 0px;
    align-content:center;              
    left: 472px;            
    font-size: 15px;
    text-align: justify;
    
}


#p4{
    position:absolute; 
    width: 550px;
    padding: 78px 0px 0px 0px;
    align-content:center;              
    left: 471px;            
    font-size: 17px;
    text-align: justify;
}
#p5{
    position:absolute; 
    width: 550px;
    padding: 78px 0px 0px 0px;
    align-content:center;              
    left: 471px;            
    font-size: 17px;
    text-align: justify;
}
#p6{
    position:absolute; 
    width: 550px;
    padding: 78px 0px 0px 0px;
    align-content:center;              
    left: 471px;            
    font-size: 17px;
    text-align: justify;
}

table{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;        
    position: absolute;
    z-index: 5;
    text-align: left;
    width: 940px;
    top: 1380px;
    left: 500px;
}